.mlmodel{
    background: linear-gradient( #010004 ,#151233,  #362F6E ,#6D61D4);
    width: 100vw;
    color:#766AE5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    

}
.question-box{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background: #0F172A;
    box-shadow: #010004 0px 2px 2px 2px;
    height: 300px;
    
    width: 50vw;
    border: 2px solid #0F172A;
}
.progress-dot{
    width: 10px;
    height: 10px;
}
.btn-op{
     border-radius: 4px;
     background:#1E293B ;
     border: 1px solid #161335 ;
     padding: 10px 20px;

}
.top{
    display: flex;
    flex-direction: column;
    
}
.question{
    color: white;
    font-weight: 700;
    font-size: 180%;
    margin: 10% 0%;
}
.top h1{
    font-size: 400%;
}