.mlmodel{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(#3b1c77, #6D61D4);
    height: 100vh;
    color: white;
}
.twomodel{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 25%;
    height: 65vh;
    width: 80%;
    padding: 5%;
    border-radius: 20px;
    margin-bottom:1% ;
    background: #1A1B41;

}
.heading{
    margin: 5% 0% ;
    font-size: 200%;
}
.box{
    border: 2px solid #00FF9F;
    border-radius: 20px;
    display: flex;
    background: #2D1E5F;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 40vh;
    margin: 0px 0px 5% ;
    align-items: center;
    gap: 10%;

}
.box h4{
    font-size: 150%;
}
.trynowbtn{
    width: 150px;
    height: 50px;
    background: #00FF9F;
    border-radius:  12px ;

}
.trynowbtn:hover{
    transform: scale(1.05);
    transition: ease 0.4s;
}