
.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #181719;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #88d1d5;
}
.logo span {
  color: #3b1c77;
}

.search {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.search input {
  width: 60%;
  padding: 10px 40px;
  border-radius: 25px;
  border: 2px solid #3b1c77;
  background-color: white;
  color: black;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translateY(-50%);
  color: #3b1c77;
  font-size: 1.2rem;
}


.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #88d1d5;
  cursor: pointer;
  z-index: 200;
}


.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 10px;
}

.menu li a {
  color: #88d1d5;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.menu li a:hover {
  background: #3b1c77;
  color: white;
}


@media (max-width: 768px) {
  .search {
    margin: 0 15px;
  }

 
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 25px;
    background: #1f1d23;
    border: 2px solid #3b1c77;
    border-radius: 12px;
    padding: 15px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  }

 
  .menu.open {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  
  .menu-icon {
    display: block;
  }
}
