.trending-section {
  background-color: #000;
  color: #fff;
  padding: 80px 10%;
 
}


.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.trending-header h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

.trending-header p {
  color: #b3b3b3;
  margin-top: 8px;
  font-size: 1rem;
}

.trending-header button {
  background-color: #7b61ff;
  color: white;
  border: none;
  padding: 14px 24px;

  font-size: 1rem;
  cursor: pointer;
  transition:0.3s;
}

.trending-header button:hover {
  background-color: #917cff;
}


.game-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.game-card {
  width: 250px;
}

.game-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.15);
}

.game-card h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.release-date {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin-bottom: 4px;
}

.platforms {
  font-size: 0.85rem;
  color: #b3b3b3;
  line-height: 1.4;
}
