.footer{
    width: 100vw;

    background: #000000;
    color: #fff;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}
.nickname{
    background: linear-gradient(90deg ,#1D1D1E ,#4E4E51 ,#808084);
    height: 30%;
    width: 70%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}
.claim{
    margin-top: 5% ;
}
.claim p{
    font-size: 100%;
    font-weight: 800;
}
.btn{
    margin: 5% 0%;
    background: black;
    color: white;
    font-weight: 700;
    font-size: large;
    padding: 3% 8%;
    border-radius:12px ;
}
.btn:hover{
    transform: scale(1.05);
    transition: 0.3s ease;

}
.about{
    display: flex;
    gap: 15%;
   
    width: 50%;
    height: 40vh;

}
.card{
    height: 20vh;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    
}
.explore{
    font-size: xx-large;
    font-weight: 800;

}
.content{
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact{
    font-size: larger;
display: flex;

flex-direction: column;
align-items: center;
padding-bottom: 5%;
}
.line{
    width: 400%;
    height: 5px;
    background: white;


}

