
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
     font-family: "Bitcount Grid Single", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 0;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.supermercado-one-regular {
 
  font-weight: 400;
  font-style: normal;
}
